@page
@model RestaurantApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Welcome</h1>

    <p class="mb-1">Developed by Frozen Burrito, following the tutorials available on the Microsoft Docs.</p>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
